.kotak {
    width: 800px;
    border: 1px solid black;
}
.kotak div{
    margin: 5px;
    width: 80px;
    height: 80px;
    background-color: salmon;
    text-align: center;
    line-height: 80px;
    color: white;
    font-size: 20px;
    float: right;
}
